@import "compiled/all/pnt-icons.css"

.pnticn
    display inline

.pnticn:before
    font-size 16px
    -webkit-font-smoothing antialiased

.pnticn.pnticnsmall:before
    font-size 12px !important

.pnticn.pnticnlarge:before
    font-size 20px !important

.pnticn.pnticnxlarge:before
    font-size 24px !important

.pnticn.pnticn2x:before
    font-size 32px !important

/* TODO: refactor names, no dashes.. */
.pnticn.pnticn-rotate-90:before
    transform rotate(90deg) !important

.pnticn.pnticn-rotate-180:before
    transform rotate(180deg) !important

.pnticn.pnticn-space-r:before
    margin-right .5em

.pnticn.pnticn-space-l:before
    margin-left .5em

.pnticn.pnticncircle:before
    width 16px
    height 16px
    border-radius 100%
    line-height 16px
    text-align center
    display block


.pnticn.pnticnclay:before
    color clay

.pnticn.pnticngreen:before
    color #6BA26B

.pnticn-facebook:before
    color #3B5998

