@font-face {
  font-family: 'point';
  src: url('../font/point.eot?22771940');
  src: url('../font/point.eot?22771940#iefix') format('embedded-opentype'),
       url('../font/point.woff?22771940') format('woff'),
       url('../font/point.ttf?22771940') format('truetype'),
       url('../font/point.svg?22771940#point') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'point';
    src: url('../font/point.svg?22771940#point') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "point";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-chrome:before { content: '\e800'; } /* '' */
.icon-opera:before { content: '\e801'; } /* '' */
.icon-ie:before { content: '\e802'; } /* '' */
.icon-caret_down_1x:before { content: '\e803'; } /* '' */
.icon-caret_down:before { content: '\e804'; } /* '' */
.icon-caret_left_1x:before { content: '\e805'; } /* '' */
.icon-caret_left:before { content: '\e806'; } /* '' */
.icon-caret_right_1x:before { content: '\e807'; } /* '' */
.icon-caret_right:before { content: '\e808'; } /* '' */
.icon-caret_up_1x:before { content: '\e809'; } /* '' */
.icon-caret_up:before { content: '\e80a'; } /* '' */
.icon-chat_1x:before { content: '\e80b'; } /* '' */
.icon-chat:before { content: '\e80c'; } /* '' */
.icon-check_1x:before { content: '\e80d'; } /* '' */
.icon-check:before { content: '\e80e'; } /* '' */
.icon-cog_1x:before { content: '\e80f'; } /* '' */
.icon-cog_fill:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-ellipsis_1x:before { content: '\e812'; } /* '' */
.icon-ellipsis_fill:before { content: '\e813'; } /* '' */
.icon-ellipsis:before { content: '\e814'; } /* '' */
.icon-facebook_1x:before { content: '\e815'; } /* '' */
.icon-facebook_fill:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e817'; } /* '' */
.icon-gmail:before { content: '\e818'; } /* '' */
.icon-gmail_1x:before { content: '\e819'; } /* '' */
.icon-home_1x:before { content: '\e81a'; } /* '' */
.icon-home_fill:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\e81c'; } /* '' */
.icon-logo_1x:before { content: '\e81d'; } /* '' */
.icon-logo_fill:before { content: '\e81e'; } /* '' */
.icon-logo:before { content: '\e81f'; } /* '' */
.icon-loupe_1x:before { content: '\e820'; } /* '' */
.icon-loupe:before { content: '\e821'; } /* '' */
.icon-people_1x:before { content: '\e822'; } /* '' */
.icon-people_fill:before { content: '\e823'; } /* '' */
.icon-people:before { content: '\e824'; } /* '' */
.icon-person-plus_1x:before { content: '\e825'; } /* '' */
.icon-person-plus:before { content: '\e826'; } /* '' */
.icon-quote_1x:before { content: '\e827'; } /* '' */
.icon-quote_fill:before { content: '\e828'; } /* '' */
.icon-quote:before { content: '\e829'; } /* '' */
.icon-refresh_1x:before { content: '\e82a'; } /* '' */
.icon-refresh:before { content: '\e82b'; } /* '' */
.icon-share_1x:before { content: '\e82c'; } /* '' */
.icon-share:before { content: '\e82d'; } /* '' */
.icon-single_quote_fill:before { content: '\e82e'; } /* '' */
.icon-single_quote:before { content: '\e82f'; } /* '' */
.icon-star_1x:before { content: '\e830'; } /* '' */
.icon-star_fill:before { content: '\e831'; } /* '' */
.icon-star:before { content: '\e832'; } /* '' */
.icon-tag_1x:before { content: '\e833'; } /* '' */
.icon-tag:before { content: '\e834'; } /* '' */
.icon-twitter_1x:before { content: '\e835'; } /* '' */
.icon-twitter_fill:before { content: '\e836'; } /* '' */
.icon-twitter:before { content: '\e837'; } /* '' */
.icon-x_1x:before { content: '\e838'; } /* '' */
.icon-x:before { content: '\e839'; } /* '' */
.icon-firefox:before { content: '\e83a'; } /* '' */
.icon-gmail-1:before { content: '\e83b'; } /* '' */
.icon-laptop:before { content: '\e83d'; } /* '' */
.icon-mobile:before { content: '\e83e'; } /* '' */
.icon-apple:before { content: '\e83f'; } /* '' */